* { margin : 0px ;
    box-sizing: border-box;
}

div { padding: 5px ; border : 1px solid rgb(213, 167, 158) ;
 }

div.column { float : left; height: 500px ; }
div.side { width : 15% ; }
div.main { width : 70% ; }
div.footer { clear : both ; }
img {
    height: 80%;
    width: 40%;
}